body{
    background: #000;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Navigation Bar */
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 22px;
    font-weight: bold;
    color: #a2d6ff;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li{
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.navbar ul li:hover{
    color: #7cc2ff;
}

/* Hero Section */
.hero{
    height: 100vh;
    width: 100%;
    background: url("assets/coverpic.jpg") no-repeat center center/cover;
    position: relative;
}

/* Dark overlay */
.hero .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* Text content */
.hero .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero h1{
    font-size: 60px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #c2e3ff, #ffbfd9);
    -webkit-background-clip: text;
    color: transparent;
}

.hero p{
    font-size: 26px;
    margin-bottom: 30px;
}

.blue{
    color: #4db8ff;
}

.pink{
    color: #ff7fcc;
}

.hero-btn{
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #5f3bff, #aa3bff);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover{
    transform: scale(1.1);
}
.mentor-section {
    background: #050d1a;
    padding: 70px 20px;
    text-align: center;
    color: white;
    
}

.mentor-title {
    font-size: 40px;
    margin-bottom: 10px;
    color: #78a6ff;
}

.mentor-subtitle {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 40px;
}

.mentor-subtitle span {
    color: #4ea1ff;
}

/* Card Container */
.teacher-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

/* Mentor Card */
.teacher-card {
    width: 250px;
    background: rgba(255, 255, 255, 0.06);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.4s;
}

.teacher-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.1);
}

/* Mentor Image */
.teacher-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4ea1ff;
    box-shadow: 0 0 20px rgba(78, 161, 255, 0.6);
}

.teacher-card h3 {
    margin-top: 15px;
    font-size: 20px;
}

.teacher-card p {
    font-size: 14px;
    opacity: 0.8;
}   